
    body{
  background-color: black;
   box-sizing: border-box;
   
  }

  @media(max-width: 2000px){
      
      .HeaderName {
          color: bisque;
          font-family: Arial, Helvetica, sans-serif;
          font-style: italic;
          font-size: 10px;
          
      }
      
      .HeaderLogo{
          text-align: center;
      }
      
      
      .HeaderLogo span1{
          color: darkblue;
         font-size: 50px;
      font-family: Arial, Helvetica, sans-serif;
          font-style: italic;
          
      }
      
      .HeaderLogo span2{
      color: gold;
          font-size: 35px;
          
      font-family: Arial, Helvetica, sans-serif;
          font-style: italic;
      }
      
      .HeaderLogo span3{
      color: red;
              font-size: 50px;
      
          font-family: Arial, Helvetica, sans-serif;
          font-style: italic;
          
          }
      
          
      
      .HeaderNavigation li{
      color: bisque;
      border: 2px solid black;
      box-sizing: border-box;
      border-style: groove;
      background-color: bisque;
      list-style: none;
      text-align: center;
      width: 25%;
      height: 30px;
      float: inline-start;
      font-style: italic;
      position: relative;
      right: 20px;
      top: 10px;
      margin-top: 20px;
      font-size: 12px;
      }
      
      div4{
          text-align: center;
          font-style: italic;
          font-size:20px;
          position: relative;
          top: 40px;
          color: bisque;
           
      }
      div4 h2{
          font-size: 50px;
      }
      p{
        margin-bottom: 50px;
        position: relative;
        bottom: 30px;
      }
         
      
      
      #Header {  
          background-color: grey; 
          border: 1px bisque solid;
        
          
      }  
      #Footer{
          background-color: grey;
          padding: 130px;
          text-align: center;
          border: 1px beige solid; 
         
      }
     
      button{
          position: relative;
          right: -40%;
          bottom: 15px;
          width: 20%;
          padding: 10px;
          background-color: bisque;
      }



      #Foods{
        border: 1px red solid;
        margin-bottom: 10px;
        float: left;
        margin-right: 10px;
        width: 30%;
        margin-top: 100px;
        h2{
            text-align: end;
        }
      }
 
      #Drinks{
        border: 1px red solid;
        margin-bottom: 10px;
        float: left;
        margin-right: 10px;
        width: 30%;
        margin-top: 100px;
        h2{
            text-align: end;
        }
      }
    
      #Snacks{
        border: 1px red solid;
    margin-bottom: 10px;
    float: left;
    margin-right: 10px;
    width: 30%;
    margin-top: 100px;
    h2{
        text-align: end;
    }
      }

  


.Container h2{
    color: red;
    font-size: 30px;
    
}

.Container p{
    color: bisque;
    font-size: 30px;
    
}



    #Menu h1{ 
    
        text-align: center;
        color: red;
        font-size: 90px;
        position: relative;
        top: 170px;
    }

}

@media(min-width: 768px and max-width: 991px){
    body{
        background-color: black;
         border: 1px bisque solid;
        
        }
        
            
            .HeaderName {
                color: bisque;
                font-family: Arial, Helvetica, sans-serif;
                font-style: italic;
                font-size: 10px;
                
            }
            
            .HeaderLogo{
                text-align: center;
            }
            
            
            .HeaderLogo span1{
                color: darkblue;
               font-size: 50px;
            font-family: Arial, Helvetica, sans-serif;
                font-style: italic;
                
            }
            
            .HeaderLogo span2{
            color: gold;
                font-size: 35px;
                
            font-family: Arial, Helvetica, sans-serif;
                font-style: italic;
            }
            
            .HeaderLogo span3{
            color: red;
                    font-size: 50px;
            
                font-family: Arial, Helvetica, sans-serif;
                font-style: italic;
                
                }
            
                
            
            .HeaderNavigation li{
            color: bisque;
            border: 2px solid black;
            box-sizing: border-box;
            border-style: groove;
            background-color: bisque;
            list-style: none;
            text-align: center;
            width: 25%;
            height: 30px;
            float: inline-start;
            font-style: italic;
            position: relative;
            right: 20px;
            top: 10px;
            margin-top: 20px;
            font-size: 12px;
            }
            
            div4{
                text-align: center;
                font-style: italic;
                font-size:20px;
                position: relative;
                top: 40px;
                color: bisque;
                 
            }
        
            div4 h2{
                font-size: 50px;
            }
        
            p{
              margin-bottom: 50px;
              position: relative;
              bottom: 30px;
            }
               
        
            
            
        
            #Header {  
                background-color: grey; 
                border: 1px bisque solid;
                
            }  
        
            #Footer{
                background-color: grey;
                padding: 90px;
                text-align: center;
                border: 1px beige solid;
            }
            button{
                position: relative;
                right: -40%;
                bottom: 15px;
                width: 20%;
                padding: 10px;
                background-color: bisque;
            }

            #Foods{
                border: 1px red solid;
                margin-bottom: 10px;
                float: left;
                margin-right: 10px;
                width: 30%;
                margin-top: 100px;
                h2{
                    text-align: end;
                }
              }
         
              #Drinks{
                border: 1px red solid;
                margin-bottom: 10px;
                float: left;
                margin-right: 10px;
                width: 30%;
                margin-top: 100px;
                h2{
                    text-align: end;
                }
              }
            
              #Snacks{
                border: 1px red solid;
            margin-bottom: 10px;
            float: left;
            margin-right: 10px;
            width: 30%;
            margin-top: 100px;
            h2{
                text-align: end;
            }
              }
        
          
        
        
        .Container h2{
            color: red;
            font-size: 30px;
            
        }
        
        .Container p{
            color: bisque;
            font-size: 30px;
            
        }
        
        
        
            #Menu h1{ 
                position: relative;
                text-align: center;
                color: red;
                font-size: 90px;
                position: relative;
                top: 170px;
            }
        
            
}

@media(min-width: 500px){
    body{
background-color: black;
border: 1px bisque solid;
}
   
   .HeaderName {
       color: bisque;
       font-family: Arial, Helvetica, sans-serif;
       font-style: italic;
       font-size: 10px;
       
   }
   
   .HeaderLogo{
       text-align: center;
   }
   
   
   .HeaderLogo span1{
       color: darkblue;
      font-size: 50px;
   font-family: Arial, Helvetica, sans-serif;
       font-style: italic;
       
   }
   
   .HeaderLogo span2{
   color: gold;
       font-size: 35px;
       
   font-family: Arial, Helvetica, sans-serif;
       font-style: italic;
   }
   
   .HeaderLogo span3{
   color: red;
           font-size: 50px;
   
       font-family: Arial, Helvetica, sans-serif;
       font-style: italic;
       
       }
   
       
   
   .HeaderNavigation li{
   color: bisque;
   border: 2px solid black;
   box-sizing: border-box;
   border-style: groove;
   background-color: bisque;
   list-style: none;
   text-align: center;
   width: 25%;
   height: 30px;
   float: inline-start;
   font-style: italic;
   position: relative;
   right: 20px;
   top: 10px;
   margin-top: 20px;
   font-size: 12px;
   }
   
   div4{
       text-align: center;
       font-style: italic;
       font-size:20px;
       position: relative;
       top: 40px;
       color: bisque;
        
   }
   div4 h2{
       font-size: 50px;
   }
   p{
     margin-bottom: 50px;
     position: relative;
     bottom: 30px;
   }
      
   
   #Header {  
       background-color: grey; 
       border: 1px bisque solid;
       
   }  
   #Footer{
       background-color: grey;
       text-align: center;
       border: 1px beige solid;
       padding: 90px;
       
   }
   button{
      background-color: bisque;
       position: relative;
     right: -42%;
     bottom: 15px;
     width: 20%;
   padding: 30px
   }

   #Foods{
    border: 1px red solid;
    margin-bottom: 10px;
    float: left;
    margin-right: 10px;
    width: 30%;
    margin-top: 100px;
    h2{
        text-align: end;
    }
  }

  #Drinks{
    border: 1px red solid;
    margin-bottom: 10px;
    float: left;
    margin-right: 10px;
    width: 30%;
    margin-top: 100px;
    h2{
        text-align: end;
    }
  }

  #Snacks{
    border: 1px red solid;
margin-bottom: 10px;
float: left;
margin-right: 10px;
width: 30%;
margin-top: 100px;
h2{
    text-align: end;
}
  }




.Container h2{
color: red;
font-size: 30px;

}

.Container p{
color: bisque;
font-size: 30px;

}



#Menu h1{ 
    position: relative;
    text-align: center;
    color: red;
    font-size: 90px;
    position: relative;
    top: 170px;
}

}